@import '~antd/dist/antd.css';

html {
   font-size: 62.6%;
}

body {
   font-size: 1.6rem;
}

button {
   background-color: transparent;
   border: none;
}

input {
   outline: none;
}

#root {
   height: 100vh;
}

.container {
   width: 98rem;
   padding: 2rem;
   margin: auto;
}

.form {
   height: 100%;

   &__card {
      box-shadow: 0 0 3px rgba(0, 0, 0, .1);
      border-radius: 6px;
   }

   &__error {
      display: block;
      margin-bottom: 2rem;
      color: #c22e2e;
      font-size: 1.4rem;
   }
}

.header {
   &__name {
      margin-right: 2rem;
      color: white;
      font-size: 1.8rem;

      &::first-letter {
         text-transform: uppercase;
      }
   }
}

.empty {
   margin-top: 3rem;

   &__row {
      flex-direction: column;
   }

   &__icon {
      font-size: 4.2rem;
   }

   &__text {
      font-size: 2.1rem;
   }
}

.button {
   &__add {
      background-color: #1890ff !important;
      border: 1px solid #1890ff !important;
   }
   &__save {
      background-color: #22cc30 !important;
      border: 1px solid #22cc30 !important;
   }
}